.footer{
    display: grid;
    justify-content: center;
    cursor: pointer;
    margin-bottom:30px;
    margin-top:300px;
}

.footer>a{
    text-decoration:none;
    color: rgb(168, 178, 209);
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.footer>a:hover{
    color:#64FFDA;
}